* {
    color:rgb(146, 146, 146);

}

body {
    background-color: rgb(229, 229, 229);
}

.colorbox{
    background-color: rgb(210, 210, 210);
    opacity: .9;
}

#myarticle h2, #myarticle p {
    color:black;
}

aside h2 , aside p {
    text-align: right;
    color: rgb(8, 16, 50);
}

div {
    width: 200px;
    border: 5px solid black;
    padding: 30px;
    margin: 15px;
}

footer p {
    float: right;
    position: sticky;
    width: 300px;
    bottom: 0;
    color: black;
    background-color: rgb(170, 170, 170);
}